
/* BEGIN EXTERNAL SOURCE */
div {
background-color: #f8f9fa;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
Label {
color: #333;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
Image {
max-height: 150px;
}
/* END EXTERNAL SOURCE */
